<% provide(:title, 'Confirm') %>
<h1>Confirm</h1>

<div class="row">
  <div class="span6 offset3">
    <p>Please click the "Send" button if you are sure.</p>
    <table>
      <tr>
        <th>Name</th>
        <td><%= @contact.name %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= @contact.email %></td>
      </tr>
      <tr>
        <th>Title</th>
        <td><%= @contact.title %></td>
      </tr>
      <tr>
        <th>Content</th>
        <td><%= @contact.content %></td>
      </tr>
    </table>

    <%= form_for(@contact, url: done_path) do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :content %>
      <%= f.submit "Send", class: "btn btn-small btn-primary" %>
    <% end %>
  </div>
</div>
